# Archivos de entorno virtual
envai/
venv/
*.venv

# Archivos de secretos (¡MUY IMPORTANTE!)
.env

# Archivos generados por Python
__pycache__/
*.pyc

# Archivos del sistema operativo macOS
.DS_Store

# Base de conocimiento con datos personales
MyKnowledgeBase/

# Base de datos de vectores generada
chroma_db/