# Archivos de entorno y secretos (¡MUY IMPORTANTE!)
.env
envai/
.venv

# Base de conocimiento con datos personales
myKnowledgeBase/

# Base de datos de vectores generada
chroma_db/

# Archivos generados por Python y macOS
__pycache__/
*.pyc
.DS_Store

conversation_history.json
